<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matthias ent.</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/clientHw/">Papa inoa o nā mea kūʻai aku</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clientHw/add">Hoʻohui i ka mea kūʻai aku</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dealHw/">Papa inoa o na Kuikahi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dealHw/add">Pākuʻi Kūʻai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employHw/">Papa inoa o na limahana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/employHw/add">Hoʻohui i ka limahana</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meetingHw/">Papa inoa o na halawai</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meetingHw/add">Pākuʻi Hui</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteHw/">Papa inoa o nā memo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/noteHw/add">Hoʻohui memo</a>
      </li>
    </ul>
  </div>
</nav>

<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ʻŌlelo
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/client/">Pelekania</a>
    <a class="dropdown-item" href="/clientHw/">ʻŌlelo Hawaiʻi</a>
  </div>
</div>

<h1 style="color: darkblue;  text-align: center;">Papa inoa o na Kuikahi</h1>

<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  tr:hover {
    background-color: #f5f5f5;
  }
  a.delete-link {
    color: #bd0000;
    text-decoration: none;
  }
</style>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Puke kālā</th>
    <th>Mokuʻāina</th>
    <th>Inoa</th>
    <th>Lā</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="deal: ${deals}">
    <td th:text="${deal.id}"></td>
    <td th:text="${deal.budget}"></td>
    <td th:text="${deal.state}"></td>
    <td th:text="${deal.name}"></td>
    <td th:text="${deal.date}"></td>
    <td><a th:href="@{/deal/delete/{id}(id=${deal.id})}" style="color: #bd0000;">DELETE</a></td>
  </tr>
  </tbody>
</table>
</body>

<style>
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .box {
    flex: 1;
  }
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
</style>

<body>
<div class="box">
</div>
<footer>
  <p>Autor: <b>Matthias Nawrocki</b></p>
  <p>&copy Ua mālama ʻia nā kuleana āpau </p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>