<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"-->
<!--          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"-->
<!--          crossorigin="anonymous"></script>-->
</head>
<body>
<!--<div th:replace="~{/fragments/header::header}"></div>-->

<!--<section layout:fragment="custom-content">-->

  <h2> Create new client</h2>

  <form method="post" th:action="@{/client/save}" th:object="${client}">
    <input id="name" placeholder="nazwa" th:field="*{name}" type="text">
    <input id="address" placeholder="address" th:field="*{address}" type="text">
    <input id="phone" placeholder="phone" th:field="*{phone}" type="text">
    <input id="email" placeholder="email" th:field="*{email}" type="text">
    <input id="country" placeholder="country" th:field="*{country}" type="text">
    <input id="business" placeholder="business" th:field="*{business}" type="text">
    <input id="lastContact" placeholder="lastContact" th:field="*{lastContact}" type="date">
    <button type="submit">Save</button>
  </form>

</section>
</body>
</html>